Сохранение данных в dev файл для Якупова

In [7]:
import numpy as np
import pandas as pd
import main
las_data = pd.read_csv(main.csv_las_out_full_path, delimiter=';')
wells_list = np.unique(las_data['well_name'].values).tolist()
len(wells_list)

223

Загружаем траектории

In [8]:
trace = pd.read_csv(main.data_dir + "\\trace.csv", delimiter=';')
trace.head()

       UWI well_name            X              Y      MD         Z
0  314_100       100  354 727.390  6 470 017.860  10.000  -110.780
1  314_100       100  354 727.400  6 470 017.870  20.000  -100.780
2  314_100       100  354 727.410  6 470 017.880  30.000   -90.780
3  314_100       100  354 727.430  6 470 017.900  40.000   -80.780
4  314_100       100  354 727.460  6 470 017.930  50.000   -70.780

In [9]:
trace.head()

       UWI well_name            X              Y      MD         Z
0  314_100       100  354 727.390  6 470 017.860  10.000  -110.780
1  314_100       100  354 727.400  6 470 017.870  20.000  -100.780
2  314_100       100  354 727.410  6 470 017.880  30.000   -90.780
3  314_100       100  354 727.430  6 470 017.900  40.000   -80.780
4  314_100       100  354 727.460  6 470 017.930  50.000   -70.780

In [10]:
print(len(np.unique(trace['well_name'].values).tolist()))
trace.info()

239
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69563 entries, 0 to 69562
Data columns (total 6 columns):
UWI          69563 non-null object
well_name    69563 non-null object
X            69563 non-null object
Y            69563 non-null object
MD           69545 non-null object
Z            69563 non-null object
dtypes: object(6)
memory usage: 3.2+ MB

In [11]:
trace.head()

       UWI well_name            X              Y      MD         Z
0  314_100       100  354 727.390  6 470 017.860  10.000  -110.780
1  314_100       100  354 727.400  6 470 017.870  20.000  -100.780
2  314_100       100  354 727.410  6 470 017.880  30.000   -90.780
3  314_100       100  354 727.430  6 470 017.900  40.000   -80.780
4  314_100       100  354 727.460  6 470 017.930  50.000   -70.780

In [12]:
trace.replace(' ', '', regex=True, inplace=True)
trace['MD'] = trace['MD'].astype('float64')
trace['X'] = trace['X'].astype('float64')
trace['Y'] = trace['Y'].astype('float64')
trace['Z'] = trace['Z'].astype('float64')
trace.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69563 entries, 0 to 69562
Data columns (total 6 columns):
UWI          69563 non-null object
well_name    69563 non-null object
X            69563 non-null float64
Y            69563 non-null float64
MD           69545 non-null float64
Z            69563 non-null float64
dtypes: float64(4), object(2)
memory usage: 3.2+ MB

In [13]:
trace.head()

       UWI well_name          X           Y    MD       Z
0  314_100       100  354727.39  6470017.86  10.0 -110.78
1  314_100       100  354727.40  6470017.87  20.0 -100.78
2  314_100       100  354727.41  6470017.88  30.0  -90.78
3  314_100       100  354727.43  6470017.90  40.0  -80.78
4  314_100       100  354727.46  6470017.93  50.0  -70.78

In [14]:
wells_list = np.unique(trace['well_name'].values).tolist()
path = "C:\\WORK\\ML\\tasks\\task 6\\data\\trace\\"
ext = "dev"
for well in wells_list:    
    well_trace = trace[trace['well_name'] == well]
    main.convert_trace_to_dev(well_trace, path, ext)