Сохранение данных в dev файл для Якупова

In [1]:
import numpy as np
import pandas as pd
import main
las_data = pd.read_csv(main.csv_las_out_full_path, delimiter=';')
wells_list = np.unique(las_data['well_name'].values).tolist()
len(wells_list)

223

Загружаем обводненность

In [2]:
# загружаем wc
water_content_data = pd.read_csv(main.data_dir + "\\water_content.csv", delimiter=';')
water_content_data = water_content_data.rename(columns={'Скважина': main.keys_dict[main.kid_well]})
water_content_data = water_content_data.rename(columns={' Начальная обводненность ': 'wc'})
water_content_data = water_content_data.rename(columns={'Дата запуска': 'date_start'})
water_content_data.head()
las_data = pd.merge(las_data, water_content_data, on=main.keys_dict[main.kid_well])
print(len(np.unique(las_data['well_name'].values).tolist()))
las_data.head()

167

,well_name,STRT,STOP,DEPT,aps,rp,kp,kgl,kpr,kvo,kng,lit,satur,UWI,date_start,wc
0,300,3114.0,3363.6,3114.0,0.03,8.2,0.114,0.236,0.1,1.0,0.0,0.0,0.0,314_198,01.11.2012,0.12
1,300,3114.0,3363.6,3114.1,0.03,8.2,0.114,0.236,0.1,1.0,0.0,0.0,0.0,314_198,01.11.2012,0.12
2,300,3114.0,3363.6,3114.2,0.03,8.2,0.114,0.236,0.1,1.0,0.0,0.0,0.0,314_198,01.11.2012,0.12
3,300,3114.0,3363.6,3114.3,0.03,8.2,0.114,0.236,0.1,1.0,0.0,0.0,0.0,314_198,01.11.2012,0.12
4,300,3114.0,3363.6,3114.4,0.03,8.2,0.114,0.236,0.1,1.0,0.0,0.0,0.0,314_198,01.11.2012,0.12

Загружаем координаты

In [3]:
header_data = pd.read_csv(main.data_dir + "\\coord.csv", delimiter=';')
header_data = header_data.rename(columns={'num': 'well_name_1'})
header_data = header_data.rename(columns={'well': 'UWI'})
header_data.head()
del header_data['field']
del header_data['plastorig']

header_data.replace(' ', '', regex=True, inplace=True)
header_data['x'] = header_data['x'].astype('float64')
header_data['y'] = header_data['y'].astype('float64')

In [4]:
las_data = pd.merge(las_data, header_data, on='UWI')
print(len(np.unique(las_data['well_name'].values).tolist()))
las_data.head()

167

,well_name,STRT,STOP,DEPT,aps,rp,kp,kgl,kpr,kvo,kng,lit,satur,UWI,date_start,wc,well_name_1,x,y,z
0,300,3114.0,3363.6,3114.0,0.03,8.2,0.114,0.236,0.1,1.0,0.0,0.0,0.0,314_198,01.11.2012,0.12,198,354107.28,6462246.06,3281.20
1,300,3114.0,3363.6,3114.1,0.03,8.2,0.114,0.236,0.1,1.0,0.0,0.0,0.0,314_198,01.11.2012,0.12,198,354107.28,6462246.06,3281.20
2,300,3114.0,3363.6,3114.2,0.03,8.2,0.114,0.236,0.1,1.0,0.0,0.0,0.0,314_198,01.11.2012,0.12,198,354107.28,6462246.06,3281.20
3,300,3114.0,3363.6,3114.3,0.03,8.2,0.114,0.236,0.1,1.0,0.0,0.0,0.0,314_198,01.11.2012,0.12,198,354107.28,6462246.06,3281.20
4,300,3114.0,3363.6,3114.4,0.03,8.2,0.114,0.236,0.1,1.0,0.0,0.0,0.0,314_198,01.11.2012,0.12,198,354107.28,6462246.06,3281.20

In [5]:
las_well_info = las_data[['well_name', 'UWI']]
las_well_info = las_well_info.rename(columns={'well_name': 'well_name_fake'})

In [6]:
las_well_info = las_well_info.drop_duplicates()

Загружаем траектории

In [7]:
trace = pd.read_csv(main.data_dir + "\\trace.csv", delimiter=';')
trace = pd.merge(trace, las_well_info, on='UWI')
print(len(np.unique(trace['well_name'].values).tolist()))
trace.info()

167
<class 'pandas.core.frame.DataFrame'>
Int64Index: 48936 entries, 0 to 48935
Data columns (total 7 columns):
UWI               48936 non-null object
well_name         48936 non-null object
X                 48936 non-null object
Y                 48936 non-null object
MD                48932 non-null object
Z                 48936 non-null object
well_name_fake    48936 non-null object
dtypes: object(7)
memory usage: 3.0+ MB

In [8]:
trace.replace(' ', '', regex=True, inplace=True)
trace['MD'] = trace['MD'].astype('float64')
trace['X'] = trace['X'].astype('float64')
trace['Y'] = trace['Y'].astype('float64')
trace['Z'] = trace['Z'].astype('float64')
trace.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48936 entries, 0 to 48935
Data columns (total 7 columns):
UWI               48936 non-null object
well_name         48936 non-null object
X                 48936 non-null float64
Y                 48936 non-null float64
MD                48932 non-null float64
Z                 48936 non-null float64
well_name_fake    48936 non-null object
dtypes: float64(4), object(3)
memory usage: 3.0+ MB

In [9]:
trace.head()

       UWI well_name          X           Y    MD       Z well_name_fake
0  314_100       100  354727.39  6470017.86  10.0 -110.78            312
1  314_100       100  354727.40  6470017.87  20.0 -100.78            312
2  314_100       100  354727.41  6470017.88  30.0  -90.78            312
3  314_100       100  354727.43  6470017.90  40.0  -80.78            312
4  314_100       100  354727.46  6470017.93  50.0  -70.78            312

In [ ]:
wells_list = np.unique(trace['well_name'].values).tolist()
path = "C:\\WORK\\ML\\tasks\\task 6\\data\\trace\\"
ext = "dev"
for well in wells_list:    
    well_trace = trace[trace['well_name'] == well]
    main.convert_trace_to_dev(well_trace, path, ext)