Сохранение данных в dev файл для Якупова

In [2]:
import numpy as np
import pandas as pd
import main
las_data = pd.read_csv(main.csv_las_out_full_path, delimiter=';')

In [3]:
wells_list = np.unique(las_data['well_name'].values).tolist()
len(wells_list)

223

In [4]:
las_data_cutted = pd.DataFrame()

for well in wells_list:    
    well_las_data = las_data[las_data['well_name'] == well]
    cuted_well_las, not_empty = main.cut_data_frame_by_satur(well_las_data)
    if not_empty:
         las_data_cutted = las_data_cutted.append(cuted_well_las)
print(len(las_data_cutted['well_name'].value_counts().index))
las_data_cutted.describe()

221

,STRT,STOP,DEPT,aps,rp,kp,kgl,kpr,kvo,kng,lit,satur
count,308924.000000,308924.000000,308924.000000,127606.000000,188709.000000,191843.000000,182965.000000,191968.000000,177069.000000,308924.000000,308924.000000,308924.000000
mean,2495.859367,3045.657912,2779.719434,0.391987,15.011739,0.134285,0.241503,28.421996,0.802113,0.040608,0.309309,1.511475
std,787.343964,421.575971,603.898441,0.322511,141.618242,0.065662,0.116804,123.826467,0.272653,0.137920,0.462210,2.823551
min,860.000000,1776.600000,860.000000,0.000000,0.300000,0.002000,0.041000,0.000000,0.204000,0.000000,0.000000,0.000000
25%,2473.400000,2844.400000,2661.900000,0.100000,4.300000,0.092000,0.144000,0.100000,0.494000,0.000000,0.000000,0.000000
50%,2756.400000,3055.400000,2894.800000,0.320000,6.100000,0.125000,0.233000,0.100000,1.000000,0.000000,0.000000,0.000000
75%,2999.400000,3296.200000,3163.700000,0.690000,8.900000,0.161000,0.340000,3.600000,1.000000,0.000000,1.000000,2.000000
max,3466.000000,3936.000000,3901.500000,1.000000,8635.100000,0.368000,0.465000,1759.700000,1.000000,0.796000,1.000000,10.000000

In [5]:
las_data_cutted.head()

,well_name,STRT,STOP,DEPT,aps,rp,kp,kgl,kpr,kvo,kng,lit,satur,UWI
1182,224st4,2729.2,2929.4,2847.4,0.99,5.1,0.171,NaN,19.8,NaN,0.418,1.0,8.0,314_103ST2
1183,224st4,2729.2,2929.4,2847.5,0.99,5.1,0.171,NaN,19.8,NaN,0.418,1.0,8.0,314_103ST2
1184,224st4,2729.2,2929.4,2847.6,0.99,5.1,0.171,NaN,19.8,NaN,0.418,1.0,8.0,314_103ST2
1185,224st4,2729.2,2929.4,2847.7,0.99,5.1,0.171,NaN,19.8,NaN,0.418,1.0,8.0,314_103ST2
1186,224st4,2729.2,2929.4,2847.8,0.99,5.1,0.171,NaN,19.8,NaN,0.418,1.0,8.0,314_103ST2

загружаем координаты

In [6]:
header_data = pd.read_csv(main.data_dir + "\\Well_Header.csv", delimiter='\t')
header_data = header_data.rename(columns={'WellName': main.keys_dict[main.kid_well_dop_id]})
header_data = header_data.rename(columns={'X-Coord': 'X'})
header_data = header_data.rename(columns={'Y-Coord': 'Y'})
del header_data['KB']
del header_data['TopDepth']
del header_data['BottomDepth']
del header_data['Symbol']
del header_data['Rig']
del header_data['Field']
header_data.head()

          UWI          X           Y
0  314_103ST2  354719.52  6470051.42
1     314_107  354693.18  6470164.36
2     314_121  354433.25  6468384.38
3   314_125PL  354717.25  6470061.16
4     314_134  354478.44  6468306.61

In [7]:
# del water_content_data['Дата запуска']
las_data_cutted = pd.merge(las_data_cutted, header_data, on='UWI')
las_data_cutted.head()

,well_name,STRT,STOP,DEPT,aps,rp,kp,kgl,kpr,kvo,kng,lit,satur,UWI,X,Y
0,224st4,2729.2,2929.4,2847.4,0.99,5.1,0.171,NaN,19.8,NaN,0.418,1.0,8.0,314_103ST2,354719.52,6470051.42
1,224st4,2729.2,2929.4,2847.5,0.99,5.1,0.171,NaN,19.8,NaN,0.418,1.0,8.0,314_103ST2,354719.52,6470051.42
2,224st4,2729.2,2929.4,2847.6,0.99,5.1,0.171,NaN,19.8,NaN,0.418,1.0,8.0,314_103ST2,354719.52,6470051.42
3,224st4,2729.2,2929.4,2847.7,0.99,5.1,0.171,NaN,19.8,NaN,0.418,1.0,8.0,314_103ST2,354719.52,6470051.42
4,224st4,2729.2,2929.4,2847.8,0.99,5.1,0.171,NaN,19.8,NaN,0.418,1.0,8.0,314_103ST2,354719.52,6470051.42

Загружаем обводненность

In [8]:
# загружаем wc
water_content_data = pd.read_csv(main.data_dir + "\\water_content.csv", delimiter=';')
water_content_data = water_content_data.rename(columns={'Скважина': main.keys_dict[main.kid_well]})
water_content_data = water_content_data.rename(columns={' Начальная обводненность ': 'wc'})
water_content_data = water_content_data.rename(columns={'Дата запуска': 'date_start'})
water_content_data.head()

  well_name  date_start    wc
0       380  04.07.1905  0.49
1       379  01.12.2006  0.30
2       370  01.02.2007  0.13
3       417  01.03.2007  0.08
4       389  01.08.2007  0.22

In [9]:
print(len(las_data_cutted['well_name'].value_counts().index))

221

In [10]:
las_data_cutted = pd.merge(las_data_cutted, water_content_data, on=main.keys_dict[main.kid_well])
las_data_cutted.head()

,well_name,STRT,STOP,DEPT,aps,rp,kp,kgl,kpr,kvo,kng,lit,satur,UWI,X,Y,date_start,wc
0,300,3114.0,3363.6,3116.2,0.56,6.9,0.184,0.15,6.2,1.0,0.0,1.0,2.0,314_198,353819.66,6464053.68,01.11.2012,0.12
1,300,3114.0,3363.6,3116.3,0.56,6.9,0.184,0.15,6.2,1.0,0.0,1.0,2.0,314_198,353819.66,6464053.68,01.11.2012,0.12
2,300,3114.0,3363.6,3116.4,0.56,6.9,0.184,0.15,6.2,1.0,0.0,1.0,2.0,314_198,353819.66,6464053.68,01.11.2012,0.12
3,300,3114.0,3363.6,3116.5,0.56,6.9,0.184,0.15,6.2,1.0,0.0,1.0,2.0,314_198,353819.66,6464053.68,01.11.2012,0.12
4,300,3114.0,3363.6,3116.6,0.56,6.9,0.184,0.15,6.2,1.0,0.0,1.0,2.0,314_198,353819.66,6464053.68,01.11.2012,0.12

In [11]:
del las_data_cutted['STRT']
del las_data_cutted['STOP']
del las_data_cutted['date_start']
del las_data_cutted['wc']

In [12]:
print(len(las_data_cutted['well_name'].value_counts().index))

166

In [13]:
wells_list = np.unique(las_data['well_name'].values).tolist()
main_path = "C:\\WORK\\ML\\tasks\\task 6\\data\\"
ext = "dev"
need_columns = ["aps", "rp", "kp", "kgl", "kpr", "kvo", "kng", "lit", "satur"]
# wells_list = ["300"]
for col in need_columns:
    path = main_path + col + "\\"
    for well in wells_list:    
        well_las_data = las_data_cutted[las_data_cutted['well_name'] == well]
        main.convert_las_to_dev(well_las_data, path, ext, col)                
#     break

In [14]:
las_data_cutted[las_data_cutted['well_name'] == "515"]

,well_name,DEPT,aps,rp,kp,kgl,kpr,kvo,kng,lit,satur,UWI,X,Y
83113,515,3151.6,NaN,5.0,0.145,0.122,4.0,0.431,0.359,1.0,6.0,314_303,354555.71,6468173.54
83114,515,3151.7,NaN,5.0,0.145,0.122,4.0,0.431,0.359,1.0,6.0,314_303,354555.71,6468173.54
83115,515,3151.8,NaN,5.0,0.145,0.122,4.0,0.431,0.359,1.0,6.0,314_303,354555.71,6468173.54
83116,515,3151.9,NaN,5.0,0.145,0.122,4.0,0.431,0.359,1.0,6.0,314_303,354555.71,6468173.54
83117,515,3152.0,NaN,5.0,0.145,0.122,4.0,0.431,0.359,1.0,6.0,314_303,354555.71,6468173.54
83118,515,3152.1,NaN,5.0,0.145,0.122,4.0,0.431,0.359,1.0,6.0,314_303,354555.71,6468173.54
83119,515,3152.2,NaN,5.0,0.145,0.122,4.0,0.431,0.359,1.0,6.0,314_303,354555.71,6468173.54
83120,515,3152.3,NaN,5.0,0.145,0.122,4.0,0.431,0.359,1.0,6.0,314_303,354555.71,6468173.54
83121,515,3152.4,NaN,5.0,0.145,0.122,4.0,0.431,0.359,1.0,6.0,314_303,354555.71,6468173.54
83122,515,3152.5,NaN,5.0,0.145,0.122,4.0,0.431,0.359,1.0,6.0,314_303,354555.71,6468173.54
83123,515,3152.6,NaN,5.9,0.114,0.170,0.1,1.000,0.000,0.0,0.0,314_303,354555.71,6468173.54
83124,515,3152.7,NaN,5.9,0.114,0.170,0.1,1.000,0.000,0.0,0.0,314_303,354555.71,6468173.54
83125,515,3152.8,NaN,5.9,0.114,0.170,0.1,1.000,0.000,0.0,0.0,314_303,354555.71,6468173.54
83126,515,3152.9,NaN,5.9,0.114,0.170,0.1,1.000,0.000,0.0,0.0,314_303,354555.71,6468173.54
83127,515,3153.0,NaN,5.9,0.114,0.170,0.1,1.000,0.000,0.0,0.0,314_303,354555.71,6468173.54
83128,515,3153.1,NaN,5.9,0.114,0.170,0.1,1.000,0.000,0.0,0.0,314_303,354555.71,6468173.54
83129,515,3153.2,NaN,5.9,0.114,0.170,0.1,1.000,0.000,0.0,0.0,314_303,354555.71,6468173.54
83130,515,3153.3,NaN,5.9,0.114,0.170,0.1,1.000,0.000,0.0,0.0,314_303,354555.71,6468173.54
83131,515,3153.4,NaN,5.9,0.114,0.170,0.1,1.000,0.000,0.0,0.0,314_303,354555.71,6468173.54
83132,515,3153.5,NaN,5.9,0.114,0.170,0.1,1.000,0.000,0.0,0.0,314_303,354555.71,6468173.54
83133,515,3153.6,NaN,26.9,0.039,0.122,0.1,1.000,0.000,0.0,0.0,314_303,354555.71,6468173.54
83134,515,3153.7,NaN,26.9,0.039,0.122,0.1,1.000,0.000,0.0,0.0,314_303,354555.71,6468173.54
83135,515,3153.8,NaN,26.9,0.039,0.122,0.1,1.000,0.000,0.0,0.0,314_303,354555.71,6468173.54
83136,515,3153.9,NaN,26.9,0.039,0.122,0.1,1.000,0.000,0.0,0.0,314_303,354555.71,6468173.54
83137,515,3154.0,NaN,26.9,0.039,0.122,0.1,1.000,0.000,0.0,0.0,314_303,354555.71,6468173.54
83138,515,3154.1,NaN,26.9,0.039,0.122,0.1,1.000,0.000,0.0,0.0,314_303,354555.71,6468173.54
83139,515,3154.2,NaN,26.9,0.039,0.122,0.1,1.000,0.000,0.0,0.0,314_303,354555.71,6468173.54
83140,515,3154.3,NaN,26.9,0.039,0.122,0.1,1.000,0.000,0.0,0.0,314_303,354555.71,6468173.54
83141,515,3154.4,NaN,7.9,0.114,0.138,0.1,1.000,0.000,0.0,0.0,314_303,354555.71,6468173.54
83142,515,3154.5,NaN,7.9,0.114,0.138,0.1,1.000,0.000,0.0,0.0,314_303,354555.71,6468173.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83667,515,3207.0,NaN,7.3,0.051,0.246,0.1,1.000,0.000,0.0,0.0,314_303,354555.71,6468173.54
83668,515,3207.1,NaN,7.3,0.051,0.246,0.1,1.000,0.000,0.0,0.0,314_303,354555.71,6468173.54
83669,515,3207.2,NaN,7.3,0.051,0.246,0.1,1.000,0.000,0.0,0.0,314_303,354555.71,6468173.54
83670,515,3207.3,NaN,7.3,0.051,0.246,0.1,1.000,0.000,0.0,0.0,314_303,354555.71,6468173.54
83671,515,3207.4,NaN,7.3,0.051,0.246,0.1,1.000,0.000,0.0,0.0,314_303,354555.71,6468173.54
83672,515,3207.5,NaN,7.3,0.051,0.246,0.1,1.000,0.000,0.0,0.0,314_303,354555.71,6468173.54
83673,515,3207.6,NaN,7.3,0.051,0.246,0.1,1.000,0.000,0.0,0.0,314_303,354555.71,6468173.54
83674,515,3207.7,NaN,7.3,0.051,0.246,0.1,1.000,0.000,0.0,0.0,314_303,354555.71,6468173.54
83675,515,3207.8,NaN,7.3,0.051,0.246,0.1,1.000,0.000,0.0,0.0,314_303,354555.71,6468173.54
83676,515,3207.9,NaN,7.3,0.051,0.246,0.1,1.000,0.000,0.0,0.0,314_303,354555.71,6468173.54
83677,515,3208.0,NaN,7.3,0.051,0.246,0.1,1.000,0.000,0.0,0.0,314_303,354555.71,6468173.54
83678,515,3208.1,NaN,7.3,0.051,0.246,0.1,1.000,0.000,0.0,0.0,314_303,354555.71,6468173.54
83679,515,3208.2,NaN,7.3,0.051,0.246,0.1,1.000,0.000,0.0,0.0,314_303,354555.71,6468173.54
83680,515,3208.3,NaN,7.3,0.051,0.246,0.1,1.000,0.000,0.0,0.0,314_303,354555.71,6468173.54
83681,515,3208.4,NaN,7.3,0.051,0.246,0.1,1.000,0.000,0.0,0.0,314_303,354555.71,6468173.54
83682,515,3208.5,NaN,7.3,0.051,0.246,0.1,1.000,0.000,0.0,0.0,314_303,354555.71,6468173.54
83683,515,3208.6,NaN,7.3,0.051,0.246,0.1,1.000,0.000,0.0,0.0,314_303,354555.71,6468173.54
83684,515,3208.7,NaN,7.3,0.051,0.246,0.1,1.000,0.000,0.0,0.0,314_303,354555.71,6468173.54
83685,515,3208.8,NaN,7.3,0.051,0.246,0.1,1.000,0.000,0.0,0.0,314_303,354555.71,6468173.54
83686,515,3208.9,NaN,7.3,0.051,0.246,0.1,1.000,0.000,0.0,0.0,314_303,354555.71,6468173.54
83687,515,3209.0,NaN,7.3,0.051,0.246,0.1,1.000,0.000,0.0,0.0,314_303,354555.71,6468173.54
83688,515,3209.1,NaN,7.3,0.051,0.246,0.1,1.000,0.000,0.0,0.0,314_303,354555.71,6468173.54
83689,515,3209.2,NaN,4.4,0.124,0.174,1.2,0.519,0.000,1.0,2.0,314_303,354555.71,6468173.54
83690,515,3209.3,NaN,4.4,0.124,0.174,1.2,0.519,0.000,1.0,2.0,314_303,354555.71,6468173.54
83691,515,3209.4,NaN,4.4,0.124,0.174,1.2,0.519,0.000,1.0,2.0,314_303,354555.71,6468173.54
83692,515,3209.5,NaN,4.4,0.124,0.174,1.2,0.519,0.000,1.0,2.0,314_303,354555.71,6468173.54
83693,515,3209.6,NaN,4.4,0.124,0.174,1.2,0.519,0.000,1.0,2.0,314_303,354555.71,6468173.54
83694,515,3209.7,NaN,4.4,0.124,0.174,1.2,0.519,0.000,1.0,2.0,314_303,354555.71,6468173.54
83695,515,3209.8,NaN,4.4,0.124,0.174,1.2,0.519,0.000,1.0,2.0,314_303,354555.71,6468173.54
83696,515,3209.9,NaN,4.4,0.124,0.174,1.2,0.519,0.000,1.0,2.0,314_303,354555.71,6468173.54