In [1]:
import numpy as np
import pandas as pd
import main
las_data = pd.read_csv(main.csv_las_out_full_path, delimiter=';')

In [2]:
wells_list = np.unique(las_data['well_name'].values).tolist()
len(wells_list)

223

In [10]:
las_data_cutted = pd.DataFrame()

for well in wells_list:    
    well_las_data = las_data[las_data['well_name'] == well]
    cuted_well_las, not_empty = main.cut_data_frame_by_satur(well_las_data)
    if not_empty:
         las_data_cutted = las_data_cutted.append(cuted_well_las)

las_data_cutted.describe()

,STRT,STOP,DEPT,aps,rp,kp,kgl,kpr,kvo,kng,lit,satur
count,308924.000000,308924.000000,308924.000000,127606.000000,188709.000000,191843.000000,182965.000000,191968.000000,177069.000000,308924.000000,308924.000000,308924.000000
mean,2495.859367,3045.657912,2779.719434,0.391987,15.011739,0.134285,0.241503,28.421996,0.802113,0.040608,0.309309,1.511475
std,787.343964,421.575971,603.898441,0.322511,141.618242,0.065662,0.116804,123.826467,0.272653,0.137920,0.462210,2.823551
min,860.000000,1776.600000,860.000000,0.000000,0.300000,0.002000,0.041000,0.000000,0.204000,0.000000,0.000000,0.000000
25%,2473.400000,2844.400000,2661.900000,0.100000,4.300000,0.092000,0.144000,0.100000,0.494000,0.000000,0.000000,0.000000
50%,2756.400000,3055.400000,2894.800000,0.320000,6.100000,0.125000,0.233000,0.100000,1.000000,0.000000,0.000000,0.000000
75%,2999.400000,3296.200000,3163.700000,0.690000,8.900000,0.161000,0.340000,3.600000,1.000000,0.000000,1.000000,2.000000
max,3466.000000,3936.000000,3901.500000,1.000000,8635.100000,0.368000,0.465000,1759.700000,1.000000,0.796000,1.000000,10.000000

In [21]:
# загружаем wc
water_content_data = pd.read_csv(main.data_dir + "\\water_content.csv", delimiter=';')
water_content_data = water_content_data.rename(columns={'Скважина': main.keys_dict[main.kid_well]})
water_content_data = water_content_data.rename(columns={' Начальная обводненность ': 'wc'})
water_content_data = water_content_data.rename(columns={'Дата запуска': 'date_start'})
water_content_data.head()

  well_name  date_start    wc
0       380  04.07.1905  0.49
1       379  01.12.2006  0.30
2       370  01.02.2007  0.13
3       417  01.03.2007  0.08
4       389  01.08.2007  0.22

In [22]:
las_data_cutted = pd.merge(las_data_cutted, water_content_data, on=main.keys_dict[main.kid_well])
las_data_cutted.head()

,well_name,STRT,STOP,DEPT,aps,rp,kp,kgl,kpr,kvo,kng,lit,satur,UWI,date_start,wc
0,300,3114.0,3363.6,3116.2,0.56,6.9,0.184,0.15,6.2,1.0,0.0,1.0,2.0,314_198,01.11.2012,0.12
1,300,3114.0,3363.6,3116.3,0.56,6.9,0.184,0.15,6.2,1.0,0.0,1.0,2.0,314_198,01.11.2012,0.12
2,300,3114.0,3363.6,3116.4,0.56,6.9,0.184,0.15,6.2,1.0,0.0,1.0,2.0,314_198,01.11.2012,0.12
3,300,3114.0,3363.6,3116.5,0.56,6.9,0.184,0.15,6.2,1.0,0.0,1.0,2.0,314_198,01.11.2012,0.12
4,300,3114.0,3363.6,3116.6,0.56,6.9,0.184,0.15,6.2,1.0,0.0,1.0,2.0,314_198,01.11.2012,0.12

процент nan во всех(обрез) данных

In [38]:
rows_count = las_data_cutted.count().max()
hhh = 100 * las_data_cutted.isnull().sum()/rows_count

In [106]:
hhh = hhh[hhh.values > 0]
with_nan_cols = hhh.keys()
with_nan_cols.values

array(['aps', 'rp', 'kp', 'kgl', 'kpr', 'kvo'], dtype=object)

In [121]:

las_data_cutted_nan_info = las_data_cutted.loc[:,'well_name':'STRT']
las_data_cutted_nan_info_data = las_data_cutted[with_nan_cols.values].isnull()

las_data_cutted_nan_info = pd.merge(las_data_cutted_nan_info, las_data_cutted_nan_info_data, left_index=True, right_index=True)
# las_data_cutted_nan_info = las_data_cutted_nan_info.drop(['STRT'], axis=1)

In [123]:
df1 = las_data_cutted_nan_info.groupby(by='well_name')['well_name','STRT'].count()
df1

           well_name  STRT
well_name
300             2222  2222
301              558   558
302              516   516
304              500   500
306              646   646
307              528   528
308              514   514
310              712   712
311              468   468
312              530   530
313              555   555
316              476   476
317              606   606
319              760   760
323             2306  2306
324              540   540
325              628   628
326              496   496
328              564   564
332              958   958
333              838   838
334              678   678
338             2112  2112
339              674   674
340              524   524
341              568   568
342              638   638
345              664   664
348              606   606
352              698   698
...              ...   ...
567             1639  1639
568              134   134
569              588   588
571             1718  1718
572             2784  2784
573              512   512
575              644   644
576             1596  1596
577             1484  1484
578             2156  2156
579             2014  2014
580              538   538
582              552   552
583              656   656
584             1920  1920
587              574   574
588             1966  1966
589              582   582
593             2732  2732
594             1458  1458
630              428   428
637              644   644
639              892   892
645              542   542
648              472   472
662              514   514
664             1076  1076
667             1868  1868
813              562   562
815              548   548

[166 rows x 2 columns]

In [134]:
df2 = las_data_cutted_nan_info.groupby(by='well_name')[las_data_cutted_nan_info.columns].sum()
df2

                STRT     aps      rp      kp     kgl     kpr     kvo
well_name
300        6919308.0  1112.0  1112.0  1112.0  1112.0  1112.0  1112.0
301        1599004.8    94.0    70.0    70.0    70.0    70.0    70.0
302        1322508.0    68.0    68.0    68.0    68.0    68.0    68.0
304        1300700.0    82.0    82.0    82.0   182.0    82.0   182.0
306        1750014.0   140.0   140.0   140.0   140.0   140.0   140.0
307        1663728.0    50.0    50.0    50.0   148.0    50.0   148.0
308        1503964.0    80.0    80.0    80.0    80.0    80.0    80.0
310        2379504.0   168.0   168.0   168.0   322.0   168.0   322.0
311        1476072.0   375.0   129.0   123.0   216.0   123.0   216.0
312        1358390.0    60.0    69.0    60.0   208.0    60.0   208.0
313        1671438.0    96.0   103.0    96.0   169.0    96.0   169.0
316        1390586.4    54.0    72.0    54.0   122.0    54.0   122.0
317        1787094.0   142.0   158.0   142.0   230.0   142.0   230.0
319        2364208.0   544.0   276.0   228.0   444.0   228.0   444.0
323        7294800.4  1278.0  1282.0  1278.0  1418.0  1278.0  1418.0
324        1557792.0   112.0   132.0   112.0   240.0   112.0   240.0
325        1880483.2   208.0   228.0   208.0   282.0   208.0   282.0
326        1318169.6   116.0   116.0   116.0   186.0   116.0   186.0
328        1562844.0    58.0    58.0    58.0    58.0    58.0    58.0
332        3024022.8   166.0   166.0   166.0   166.0   166.0   166.0
333        2408244.4    92.0    92.0    92.0    92.0    92.0    92.0
334        1862737.2    66.0    66.0    66.0    66.0    66.0    66.0
338        6453004.8  1000.0  1000.0  1006.0  1000.0  1000.0  1000.0
339        1991265.6    64.0    64.0    78.0    64.0    64.0    64.0
340        1357893.6    72.0    72.0    72.0    72.0    72.0    72.0
341        1459192.0    90.0    90.0    90.0    90.0    90.0    90.0
342        1851093.2   100.0   100.0   100.0   100.0   100.0   100.0
345        1864910.4    74.0    74.0    74.0    74.0    74.0    74.0
348        1657167.6    76.0    76.0    76.0    76.0    76.0    76.0
352        1933180.8   122.0   122.0   122.0   122.0   122.0   122.0
...              ...     ...     ...     ...     ...     ...     ...
567        4723925.8  1639.0   864.0   864.0   864.0   864.0   864.0
568         385920.0     0.0     0.0     0.0     0.0     0.0     0.0
569        1580544.0    58.0    58.0    58.0    58.0    58.0    58.0
571        4717628.0   748.0   748.0   748.0   748.0   748.0   748.0
572        6885945.6  1412.0  1412.0  1412.0  1412.0  1412.0  1412.0
573        1326592.0   512.0    66.0    66.0    66.0    66.0    66.0
575        1775508.0   644.0   108.0   108.0   108.0   108.0   108.0
576        4646913.6  1596.0   842.0   842.0   842.0   842.0   842.0
577        4695376.0   862.0   862.0   862.0   862.0   862.0   862.0
578        6073883.2  2156.0  1168.0  1168.0  1168.0  1168.0  1168.0
579        5887324.8   952.0   952.0   952.0   952.0   952.0   952.0
580        1519634.8   538.0    46.0    46.0    46.0    46.0    46.0
582        1498459.2   552.0    64.0    64.0    64.0    64.0    64.0
583        1860940.8   104.0   104.0   104.0   104.0   104.0   104.0
584        5923200.0  1920.0  1060.0  1060.0  1060.0  1060.0  1060.0
587        1725673.6   574.0    56.0    56.0    56.0    56.0    56.0
588        5352631.6  1114.0  1114.0  1114.0  1114.0  1114.0  1114.0
589        1477116.0    66.0    66.0   102.0    66.0    66.0    66.0
593        7962140.8  1502.0  1502.0  1502.0  1502.0  1502.0  1502.0
594        4128181.2   644.0   644.0   644.0   644.0   644.0   644.0
630        1266195.2   398.0   146.0   132.0   162.0   132.0   162.0
637        1663967.2   218.0   242.0   218.0   318.0   218.0   318.0
639        2524716.8   253.0   323.0   333.0   390.0   253.0   390.0
645        1458847.2   110.0   116.0   110.0   236.0   110.0   236.0
648        1360304.0   108.0   116.0   108.0   186.0   108.0   186.0
662        1374950.0   132.0   136.0   132.0   252.0   132.0   252.0
664        3043358.4   725.0   734.0   707.0   840.0   707.0   840.0
667        5192666.4  1104.0  1129.0  1104.0  1252.0  1104.0  1252.0
813        1947892.0   108.0   108.0   108.0   108.0   108.0   108.0
815        1871968.0    68.0    68.0    68.0    68.0    68.0    68.0

[166 rows x 7 columns]

In [127]:
df3 = pd.merge(df1, df2, on=['well_name'])

KeyError: 'well_name'