In [1]:
import numpy as np
import pandas as pd
import main
fake_data_wc = pd.read_csv('fake_data/fake_wc_res.csv', delimiter=';')
fake_data_wc.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ID</th>
      <th>X</th>
      <th>Y</th>
      <th>WC</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>348202</td>
      <td>6460000</td>
      <td>1.700000e+38</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>348202</td>
      <td>6460000</td>
      <td>1.700000e+38</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>348202</td>
      <td>6460000</td>
      <td>1.700000e+38</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>348202</td>
      <td>6460000</td>
      <td>1.700000e+38</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>348202</td>
      <td>6460000</td>
      <td>1.700000e+38</td>
    </tr>
  </tbody>
</table>
</div>

In [2]:
# Конвертируем форматы
fake_data_wc['WC'] = fake_data_wc['WC'].astype('float64')
fake_data_wc['ID'] = fake_data_wc['ID'].astype('str')
fake_data_wc['WELL_NAME'] = 'fake_' + fake_data_wc['ID']
del fake_data_wc['ID']
fake_data_wc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5399 entries, 0 to 5398
Data columns (total 4 columns):
X            5399 non-null int64
Y            5399 non-null int64
WC           5399 non-null float64
WELL_NAME    5399 non-null object
dtypes: float64(1), int64(2), object(1)
memory usage: 168.8+ KB

In [3]:
# Удаляем значения зашедшие за край
fake_data_wc = fake_data_wc.drop(fake_data_wc[fake_data_wc['WC'] > 1].index)
fake_data_wc.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>X</th>
      <th>Y</th>
      <th>WC</th>
      <th>WELL_NAME</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>24</th>
      <td>348302</td>
      <td>6460000</td>
      <td>0.39</td>
      <td>fake_24</td>
    </tr>
    <tr>
      <th>25</th>
      <td>348302</td>
      <td>6460000</td>
      <td>0.39</td>
      <td>fake_25</td>
    </tr>
    <tr>
      <th>26</th>
      <td>348302</td>
      <td>6460000</td>
      <td>0.39</td>
      <td>fake_26</td>
    </tr>
    <tr>
      <th>27</th>
      <td>348302</td>
      <td>6460000</td>
      <td>0.39</td>
      <td>fake_27</td>
    </tr>
    <tr>
      <th>28</th>
      <td>348302</td>
      <td>6460000</td>
      <td>0.39</td>
      <td>fake_28</td>
    </tr>
  </tbody>
</table>
</div>

In [4]:
fake_las_out = pd.read_csv('fake_data/fake_las_out.csv', delimiter=';')
fake_las_out.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>WELL_NAME</th>
      <th>DEPTH</th>
      <th>APS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>fake_0</td>
      <td>2584.999314</td>
      <td>0.380130</td>
    </tr>
    <tr>
      <th>1</th>
      <td>fake_0</td>
      <td>2585.121187</td>
      <td>0.380130</td>
    </tr>
    <tr>
      <th>2</th>
      <td>fake_0</td>
      <td>2585.121309</td>
      <td>0.364062</td>
    </tr>
    <tr>
      <th>3</th>
      <td>fake_0</td>
      <td>2585.243182</td>
      <td>0.364062</td>
    </tr>
    <tr>
      <th>4</th>
      <td>fake_0</td>
      <td>2585.243304</td>
      <td>0.309785</td>
    </tr>
  </tbody>
</table>
</div>

In [5]:
fake_bottom = pd.read_csv('fake_data/fake_bottom_res.csv', delimiter=';')
fake_bottom['ID'] = fake_bottom['ID'].astype('str')
fake_bottom['WELL_NAME'] = 'fake_' + fake_bottom['ID']
fake_bottom = fake_bottom.rename(columns={'DEPTH': 'DEPTH_BOTTOM'})
del fake_bottom['ID']
del fake_bottom['X']
del fake_bottom['Y']
fake_bottom.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>DEPTH_BOTTOM</th>
      <th>WELL_NAME</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2601.50</td>
      <td>fake_0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2600.09</td>
      <td>fake_1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2598.85</td>
      <td>fake_2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2598.79</td>
      <td>fake_3</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2599.31</td>
      <td>fake_4</td>
    </tr>
  </tbody>
</table>
</div>

In [6]:
fake_top = pd.read_csv('fake_data/fake_top_res.csv', delimiter=';')
fake_top['ID'] = fake_top['ID'].astype('str')
fake_top['WELL_NAME'] = 'fake_' + fake_top['ID']
fake_top = fake_top.rename(columns={'DEPTH': 'DEPTH_TOP'})
del fake_top['ID']
del fake_top['X']
del fake_top['Y']
fake_top.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>DEPTH_TOP</th>
      <th>WELL_NAME</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2585.02</td>
      <td>fake_0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2582.98</td>
      <td>fake_1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2581.22</td>
      <td>fake_2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2580.52</td>
      <td>fake_3</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2580.87</td>
      <td>fake_4</td>
    </tr>
  </tbody>
</table>
</div>

In [7]:
fake_data = pd.merge(fake_data_wc, fake_las_out, on='WELL_NAME')
fake_data = pd.merge(fake_data, fake_top, on='WELL_NAME') 
fake_data = pd.merge(fake_data, fake_bottom, on='WELL_NAME')
fake_data.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>X</th>
      <th>Y</th>
      <th>WC</th>
      <th>WELL_NAME</th>
      <th>DEPTH</th>
      <th>APS</th>
      <th>DEPTH_TOP</th>
      <th>DEPTH_BOTTOM</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>348302</td>
      <td>6460000</td>
      <td>0.39</td>
      <td>fake_24</td>
      <td>2588.656453</td>
      <td>0.274434</td>
      <td>2588.27</td>
      <td>2603.89</td>
    </tr>
    <tr>
      <th>1</th>
      <td>348302</td>
      <td>6460000</td>
      <td>0.39</td>
      <td>fake_24</td>
      <td>2588.771455</td>
      <td>0.274434</td>
      <td>2588.27</td>
      <td>2603.89</td>
    </tr>
    <tr>
      <th>2</th>
      <td>348302</td>
      <td>6460000</td>
      <td>0.39</td>
      <td>fake_24</td>
      <td>2588.771570</td>
      <td>0.274434</td>
      <td>2588.27</td>
      <td>2603.89</td>
    </tr>
    <tr>
      <th>3</th>
      <td>348302</td>
      <td>6460000</td>
      <td>0.39</td>
      <td>fake_24</td>
      <td>2588.886333</td>
      <td>0.191055</td>
      <td>2588.27</td>
      <td>2603.89</td>
    </tr>
    <tr>
      <th>4</th>
      <td>348302</td>
      <td>6460000</td>
      <td>0.39</td>
      <td>fake_24</td>
      <td>2588.886448</td>
      <td>0.101674</td>
      <td>2588.27</td>
      <td>2603.89</td>
    </tr>
  </tbody>
</table>
</div>

In [38]:
from scipy import interpolate
well_name_list = fake_data['WELL_NAME'].value_counts().index.tolist()
x_values = []
y_values = []
count_val = 100
for well_name in well_name_list:
    print(well_name)
    data_well =  fake_data[fake_data['WELL_NAME'] == well_name]
    bottom = data_well['DEPTH_BOTTOM'].tolist()[0]
    top = data_well['DEPTH_TOP'].tolist()[0]
    print('top = ', top)
    print('bottom =', bottom)    
    data_well_by_bound = data_well[(data_well['DEPTH'] >= top) & (data_well['DEPTH'] <= bottom)]
    x_arr = data_well_by_bound['DEPTH']
    y_arr = data_well_by_bound['APS']
    
    print ('length of array depth', len(x_arr))
    f_spline = interpolate.interp1d(x_arr, y_arr, kind = 'slinear')
    h_start = data_well_by_bound['DEPTH'].min()
    h_end = data_well_by_bound['DEPTH'].max()
    print(h_start, h_end, top, bottom)
    h_step = (h_end - h_start)/count_val
    x_temp = []
    i = 0
    while(i < count_val):
        x_temp.append(float(f_spline(h_start + i * h_step)))
        i = i + 1
    x_values.append(x_temp)  
    y_values.append(data_well['WC'].tolist()[0])
    break
print('end fill')

fake_4573
top =  2578.76
bottom = 2597.95
length of array depth 268
2578.8477422 2597.9111493 2578.76 2597.95
end fill

[0.34]