In [1]:
import numpy as np
import pandas as pd
import main
fake_data_wc = pd.read_csv('fake_data/fake_wc_res.csv', delimiter=';')
fake_data_wc.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ID</th>
      <th>X</th>
      <th>Y</th>
      <th>WC</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>348202</td>
      <td>6460000</td>
      <td>1.700000e+38</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>348202</td>
      <td>6460000</td>
      <td>1.700000e+38</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>348202</td>
      <td>6460000</td>
      <td>1.700000e+38</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>348202</td>
      <td>6460000</td>
      <td>1.700000e+38</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>348202</td>
      <td>6460000</td>
      <td>1.700000e+38</td>
    </tr>
  </tbody>
</table>
</div>

In [39]:
# Конвертируем форматы
fake_data_wc['WC'] = fake_data_wc['WC'].astype('float64')
fake_data_wc['ID'] = fake_data_wc['ID'].astype('str')
fake_data_wc['WELL_NAME'] = 'fake_' + fake_data_wc['ID']
del fake_data_wc['ID']
fake_data_wc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5399 entries, 0 to 5398
Data columns (total 4 columns):
X            5399 non-null int64
Y            5399 non-null int64
WC           5399 non-null float64
WELL_NAME    5399 non-null object
dtypes: float64(1), int64(2), object(1)
memory usage: 168.8+ KB

In [40]:
# Удаляем значения зашедшие за край
fake_data_wc = fake_data_wc.drop(fake_data_wc[fake_data_wc['WC'] > 1].index)
fake_data_wc.head()

         X        Y    WC WELL_NAME
24  348302  6460000  0.39   fake_24
25  348302  6460000  0.39   fake_25
26  348302  6460000  0.39   fake_26
27  348302  6460000  0.39   fake_27
28  348302  6460000  0.39   fake_28

In [41]:
fake_las_out = pd.read_csv('fake_data/fake_las_out.csv', delimiter=';')
fake_las_out.head()

  WELL_NAME        DEPTH       APS
0    fake_0  2584.999314  0.380130
1    fake_0  2585.121187  0.380130
2    fake_0  2585.121309  0.364062
3    fake_0  2585.243182  0.364062
4    fake_0  2585.243304  0.309785

In [56]:
fake_bottom = pd.read_csv('fake_data/fake_bottom_res.csv', delimiter=';')
fake_bottom['ID'] = fake_bottom['ID'].astype('str')
fake_bottom['WELL_NAME'] = 'fake_' + fake_bottom['ID']
fake_bottom = fake_bottom.rename(columns={'DEPTH': 'DEPTH_BOTTOM'})
del fake_bottom['ID']
del fake_bottom['X']
del fake_bottom['Y']
fake_bottom.head()

   DEPTH_BOTTOM WELL_NAME
0       2601.50    fake_0
1       2600.09    fake_1
2       2598.85    fake_2
3       2598.79    fake_3
4       2599.31    fake_4

In [57]:
fake_top = pd.read_csv('fake_data/fake_top_res.csv', delimiter=';')
fake_top['ID'] = fake_top['ID'].astype('str')
fake_top['WELL_NAME'] = 'fake_' + fake_top['ID']
fake_top = fake_top.rename(columns={'DEPTH': 'DEPTH_TOP'})
del fake_top['ID']
del fake_top['X']
del fake_top['Y']
fake_top.head()

   DEPTH_TOP WELL_NAME
0    2585.02    fake_0
1    2582.98    fake_1
2    2581.22    fake_2
3    2580.52    fake_3
4    2580.87    fake_4

In [58]:
fake_data = pd.merge(fake_data_wc, fake_las_out, on='WELL_NAME')
fake_data = pd.merge(fake_data, fake_top, on='WELL_NAME') 
fake_data = pd.merge(fake_data, fake_bottom, on='WELL_NAME')
fake_data.head()

,X,Y,WC,WELL_NAME,DEPTH,APS,DEPTH_TOP,DEPTH_BOTTOM
0,348302,6460000,0.39,fake_24,2588.656453,0.274434,2588.27,2603.89
1,348302,6460000,0.39,fake_24,2588.771455,0.274434,2588.27,2603.89
2,348302,6460000,0.39,fake_24,2588.771570,0.274434,2588.27,2603.89
3,348302,6460000,0.39,fake_24,2588.886333,0.191055,2588.27,2603.89
4,348302,6460000,0.39,fake_24,2588.886448,0.101674,2588.27,2603.89