In [3]:
import numpy as np
import pandas as pd
import main

las_data = pd.read_csv(main.data_dir + '\\fake_las_out.csv', delimiter=';')
las_data.head()

  well_name         DEPT       aps
0    fake_0  2584.999314  0.380130
1    fake_0  2585.121187  0.380130
2    fake_0  2585.121309  0.364062
3    fake_0  2585.243182  0.364062
4    fake_0  2585.243304  0.309785

In [6]:
rows_count = las_data.count().max()
hhh = 100 * las_data.isnull().sum()/rows_count
hhh

well_name    0.0
DEPT         0.0
aps          0.0
dtype: float64

In [5]:
las_data = las_data.drop(las_data[las_data['aps'].isnull()].index)

In [10]:
ld_info = las_data.groupby('well_name').count()
print(ld_info.max())
print(ld_info.min())

DEPT    271
aps     271
dtype: int64
DEPT    270
aps     270
dtype: int64