In [1]:
import main
main.create_csv_from_las()

Convert224ST4.LAS
Convert238ST4.LAS

Convert274ST4.LAS
Convert300.LAS

Convert301.LAS
Convert302.LAS

Convert304.LAS

Convert305.LAS
Convert306.LAS

Convert307.LAS

Convert308.LAS
Convert310.LAS

Convert311.LAS
Convert312.LAS

Convert313.LAS
Convert314.LAS

Convert315.LAS
Convert316.LAS

Convert317.LAS
Convert318.LAS

Convert319.LAS
Convert322G.LAS

Convert322PL.LAS

Convert323.LAS

Convert324.LAS
Convert325.LAS

Convert326.LAS
Convert328.LAS

Convert329.LAS
Convert330PL.LAS

Convert331.LAS
Convert332.LAS

Convert333.LAS
Convert334.LAS

Convert335G.LAS

Convert335PL.LAS
Convert336G.LAS

Convert336PL.LAS

Convert337G.LAS

Convert337PL.LAS

Convert338.LAS
Convert339.LAS

Convert340.LAS
Convert341.LAS

Convert342.LAS
Convert345.LAS

Convert346.LAS
Convert348.LAS

Convert352.LAS
Convert353.LAS

Convert354.LAS
Convert355.LAS

Convert356.LAS
Convert357.LAS

Convert358.LAS
Convert359.LAS

Convert360.LAS
Convert361.LAS

Convert362.LAS
Convert365.LAS

Convert366.LAS
Convert367.LAS

Convert368.LAS
Convert369.LAS

Convert370.LAS
Convert371.LAS

Convert372.LAS
Convert373.LAS

Convert374.LAS
Convert379.LAS

Convert380.LAS
Convert382.LAS

Convert384.LAS
Convert385.LAS

Convert386.LAS
Convert387.LAS

Convert388.LAS
Convert389.LAS

Convert390.LAS
Convert391.LAS

Convert395.LAS
Convert396.LAS

Convert397.LAS
Convert398.LAS

Convert3WZ.LAS

Convert400R.LAS
Convert401R.LAS
Convert407R.LAS

Convert408R.LAS
Convert409R.LAS
Convert412.LAS

Convert413.LAS
Convert414.LAS

Convert415.LAS
Convert416.LAS
Convert417.LAS
Convert418.LAS

Convert425.LAS
Convert427.LAS

Convert431.LAS
Convert434.LAS

Convert440.LAS
Convert441.LAS

Convert442.LAS
Convert443.LAS

Convert445.LAS
Convert450.LAS

Convert452.LAS
Convert453.LAS

Convert454.LAS
Convert455.LAS

Convert457.LAS
Convert458.LAS

Convert459.LAS
Convert4R.LAS

Convert4WZ.LAS

Convert510.LAS
Convert511.LAS

Convert512.LAS
Convert512R.LAS

Convert513R.LAS
Convert514.LAS

Convert515.LAS
Convert516.LAS

Convert517.LAS
Convert518.LAS

Convert519.LAS

Convert520.LAS
Convert522.LAS

Convert523.LAS

Convert525.LAS
Convert526.LAS

Convert527.LAS
Convert528.LAS
Convert529.LAS

Convert530.LAS

Convert531.LAS
Convert532.LAS

Convert533.LAS
Convert534.LAS

Convert535.LAS
Convert536.LAS

Convert537.LAS

Convert538.LAS
Convert539.LAS

Convert541.LAS
Convert542.LAS

Convert543.LAS
Convert544.LAS
Convert545.LAS

Convert546.LAS
Convert547.LAS
Convert548.LAS

Convert549.LAS
Convert550.LAS

Convert551.LAS
Convert552.LAS

Convert553.LAS
Convert554.LAS

Convert555.LAS
Convert556.LAS

Convert556ST4.LAS
Convert557.LAS

Convert558.LAS
Convert559.LAS

Convert560.LAS
Convert561.LAS

Convert562.LAS
Convert562ST4.LAS

Convert563.LAS

Convert564.LAS
Convert565.LAS

Convert566.LAS
Convert567.LAS

Convert568.LAS
Convert569.LAS

Convert571.LAS
Convert572.LAS

Convert573.LAS
Convert574.LAS

Convert575.LAS
Convert576.LAS

Convert577.LAS

Convert578.LAS

Convert579.LAS
Convert580.LAS

Convert582.LAS
Convert583.LAS

Convert584.LAS
Convert587.LAS

Convert588.LAS
Convert589.LAS

Convert593.LAS

Convert594.LAS
Convert630.LAS
Convert637.LAS

Convert639.LAS
Convert640.LAS
Convert642G.LAS

Convert643PL.LAS

Convert645.LAS
Convert647.LAS

Convert648.LAS
Convert653.LAS

Convert662.LAS
Convert664.LAS

Convert665PL.LAS
Convert667.LAS

Convert721ST4.LAS

Convert727G4.LAS

Convert812.LAS
Convert813.LAS
Convert815.LAS

Convert818G.LAS
Convert840.LAS

Convert841.LAS
Convert850.LAS

Convert852.LAS
Convert853.LAS

Convert855.LAS
Convert856.LAS

Convert857.LAS
Convert859.LAS

end save csv

In [6]:
import numpy as np
import pandas as pd

las_data = pd.read_csv(main.csv_out_file, delimiter=';')
las_data.describe()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>STRT</th>
      <th>STOP</th>
      <th>DEPT</th>
      <th>aps</th>
      <th>rp</th>
      <th>kp</th>
      <th>kgl</th>
      <th>kpr</th>
      <th>kvo</th>
      <th>kng</th>
      <th>lit</th>
      <th>satur</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>517023.000000</td>
      <td>517023.000000</td>
      <td>517023.000000</td>
      <td>206863.000000</td>
      <td>282241.000000</td>
      <td>286593.000000</td>
      <td>277358.000000</td>
      <td>287552.000000</td>
      <td>272527.000000</td>
      <td>517023.000000</td>
      <td>517023.000000</td>
      <td>517023.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>2649.139543</td>
      <td>3064.328121</td>
      <td>2856.733832</td>
      <td>0.279251</td>
      <td>21.069378</td>
      <td>0.116868</td>
      <td>0.271042</td>
      <td>19.009184</td>
      <td>0.870326</td>
      <td>0.024264</td>
      <td>0.184882</td>
      <td>0.903115</td>
    </tr>
    <tr>
      <th>std</th>
      <td>657.616695</td>
      <td>363.671920</td>
      <td>503.142435</td>
      <td>0.298977</td>
      <td>159.776727</td>
      <td>0.062082</td>
      <td>0.122616</td>
      <td>102.049719</td>
      <td>0.239275</td>
      <td>0.108454</td>
      <td>0.388202</td>
      <td>2.304992</td>
    </tr>
    <tr>
      <th>min</th>
      <td>860.000000</td>
      <td>1776.600000</td>
      <td>860.000000</td>
      <td>0.000000</td>
      <td>0.300000</td>
      <td>0.001000</td>
      <td>0.041000</td>
      <td>0.000000</td>
      <td>0.204000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>2594.600000</td>
      <td>2863.400000</td>
      <td>2716.200000</td>
      <td>0.040000</td>
      <td>5.100000</td>
      <td>0.070000</td>
      <td>0.186000</td>
      <td>0.100000</td>
      <td>1.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>2796.000000</td>
      <td>3060.200000</td>
      <td>2914.900000</td>
      <td>0.150000</td>
      <td>7.300000</td>
      <td>0.110000</td>
      <td>0.245000</td>
      <td>0.100000</td>
      <td>1.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>3010.900000</td>
      <td>3282.600000</td>
      <td>3157.700000</td>
      <td>0.420000</td>
      <td>10.500000</td>
      <td>0.143000</td>
      <td>0.384000</td>
      <td>1.200000</td>
      <td>1.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>3466.000000</td>
      <td>3936.000000</td>
      <td>3936.000000</td>
      <td>1.000000</td>
      <td>8635.100000</td>
      <td>0.368000</td>
      <td>1.471000</td>
      <td>1759.700000</td>
      <td>1.000000</td>
      <td>0.796000</td>
      <td>1.000000</td>
      <td>10.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [7]:
print(las_data.shape)

(517023, 13)

In [9]:
print(las_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517023 entries, 0 to 517022
Data columns (total 13 columns):
well_name    517023 non-null object
STRT         517023 non-null float64
STOP         517023 non-null float64
DEPT         517023 non-null float64
aps          206863 non-null float64
rp           282241 non-null float64
kp           286593 non-null float64
kgl          277358 non-null float64
kpr          287552 non-null float64
kvo          272527 non-null float64
kng          517023 non-null float64
lit          517023 non-null float64
satur        517023 non-null float64
dtypes: float64(12), object(1)
memory usage: 51.3+ MB
None

In [16]:
water_content_data = pd.read_csv(main.data_dir + "\\res.csv", delimiter=';')

In [17]:
print(water_content_data.columns)

Index(['Скважина', 'Дата запуска', ' Начальная обводненность '], dtype='object')

In [35]:
water_content_data = water_content_data.rename(columns={'Скважина': main.keys_dict[main.kid_well]})
water_content_data = water_content_data.rename(columns={' Начальная обводненность ': 'wc'})
del water_content_data['Дата запуска']

In [36]:
print(water_content_data.columns)

Index(['well_name', 'wc'], dtype='object')

In [41]:
result = pd.merge(las_data, water_content_data, on=main.keys_dict[main.kid_well])

In [42]:
result.describe()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>STRT</th>
      <th>STOP</th>
      <th>DEPT</th>
      <th>aps</th>
      <th>rp</th>
      <th>kp</th>
      <th>kgl</th>
      <th>kpr</th>
      <th>kvo</th>
      <th>kng</th>
      <th>lit</th>
      <th>satur</th>
      <th>wc</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>390001.000000</td>
      <td>390001.000000</td>
      <td>390001.000000</td>
      <td>165952.000000</td>
      <td>202724.000000</td>
      <td>201872.000000</td>
      <td>196908.000000</td>
      <td>202598.000000</td>
      <td>192410.000000</td>
      <td>390001.000000</td>
      <td>390001.000000</td>
      <td>390001.000000</td>
      <td>390001.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>2755.839125</td>
      <td>3104.813938</td>
      <td>2930.326532</td>
      <td>0.288502</td>
      <td>23.878315</td>
      <td>0.107098</td>
      <td>0.270891</td>
      <td>12.073198</td>
      <td>0.880972</td>
      <td>0.025097</td>
      <td>0.178638</td>
      <td>0.958154</td>
      <td>0.327099</td>
    </tr>
    <tr>
      <th>std</th>
      <td>519.561150</td>
      <td>267.544436</td>
      <td>388.112485</td>
      <td>0.302623</td>
      <td>181.023097</td>
      <td>0.051975</td>
      <td>0.121980</td>
      <td>85.262884</td>
      <td>0.226070</td>
      <td>0.111820</td>
      <td>0.383049</td>
      <td>2.425462</td>
      <td>0.163663</td>
    </tr>
    <tr>
      <th>min</th>
      <td>870.400000</td>
      <td>2717.200000</td>
      <td>870.400000</td>
      <td>0.000000</td>
      <td>0.300000</td>
      <td>0.002000</td>
      <td>0.041000</td>
      <td>0.000000</td>
      <td>0.204000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.010000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>2612.400000</td>
      <td>2898.200000</td>
      <td>2742.000000</td>
      <td>0.040000</td>
      <td>5.500000</td>
      <td>0.066000</td>
      <td>0.183000</td>
      <td>0.100000</td>
      <td>1.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.200000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>2836.800000</td>
      <td>3063.000000</td>
      <td>2947.900000</td>
      <td>0.160000</td>
      <td>7.600000</td>
      <td>0.108000</td>
      <td>0.246000</td>
      <td>0.100000</td>
      <td>1.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.320000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>3045.800000</td>
      <td>3306.200000</td>
      <td>3177.700000</td>
      <td>0.460000</td>
      <td>11.300000</td>
      <td>0.133000</td>
      <td>0.391000</td>
      <td>0.100000</td>
      <td>1.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.430000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>3466.000000</td>
      <td>3644.200000</td>
      <td>3644.200000</td>
      <td>1.000000</td>
      <td>8635.100000</td>
      <td>0.368000</td>
      <td>0.457000</td>
      <td>1392.300000</td>
      <td>1.000000</td>
      <td>0.796000</td>
      <td>1.000000</td>
      <td>10.000000</td>
      <td>0.900000</td>
    </tr>
  </tbody>
</table>
</div>

In [43]:
result.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>well_name</th>
      <th>STRT</th>
      <th>STOP</th>
      <th>DEPT</th>
      <th>aps</th>
      <th>rp</th>
      <th>kp</th>
      <th>kgl</th>
      <th>kpr</th>
      <th>kvo</th>
      <th>kng</th>
      <th>lit</th>
      <th>satur</th>
      <th>wc</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>300</td>
      <td>3114.0</td>
      <td>3363.6</td>
      <td>3114.0</td>
      <td>0.03</td>
      <td>8.2</td>
      <td>0.114</td>
      <td>0.236</td>
      <td>0.1</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.12</td>
    </tr>
    <tr>
      <th>1</th>
      <td>300</td>
      <td>3114.0</td>
      <td>3363.6</td>
      <td>3114.1</td>
      <td>0.03</td>
      <td>8.2</td>
      <td>0.114</td>
      <td>0.236</td>
      <td>0.1</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.12</td>
    </tr>
    <tr>
      <th>2</th>
      <td>300</td>
      <td>3114.0</td>
      <td>3363.6</td>
      <td>3114.2</td>
      <td>0.03</td>
      <td>8.2</td>
      <td>0.114</td>
      <td>0.236</td>
      <td>0.1</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.12</td>
    </tr>
    <tr>
      <th>3</th>
      <td>300</td>
      <td>3114.0</td>
      <td>3363.6</td>
      <td>3114.3</td>
      <td>0.03</td>
      <td>8.2</td>
      <td>0.114</td>
      <td>0.236</td>
      <td>0.1</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.12</td>
    </tr>
    <tr>
      <th>4</th>
      <td>300</td>
      <td>3114.0</td>
      <td>3363.6</td>
      <td>3114.4</td>
      <td>0.03</td>
      <td>8.2</td>
      <td>0.114</td>
      <td>0.236</td>
      <td>0.1</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.12</td>
    </tr>
  </tbody>
</table>
</div>

In [44]:
result['well_name'].value_counts()

4R      20827
554      6445
336G     6206
337G     5323
335G     5272
642G     5072
322G     5025
519      3795
529      3725
319      3634
536      3485
532      3401
523      3295
563      3269
593      3161
530      3155
537      3129
539      3081
572      3077
526      3035
534      2991
522      2991
458      2971
454      2699
441      2695
323      2671
301      2551
398      2525
338      2509
332      2509
        ...
457      1741
550      1717
639      1687
517      1603
527      1125
373      1111
546      1081
531      1065
548      1039
528      1025
538       985
575       981
543       963
535       957
555       953
533       953
648       931
542       929
545       907
815       881
813       841
389       837
417       813
544       771
630       767
416       741
370       729
415       729
434       659
397       123
Name: well_name, dtype: int64