In [40]:
import numpy as np
import pandas as pd
import main
las_data = pd.read_csv(main.csv_las_out_full_path, delimiter=';')
del las_data['aps']
del las_data['STRT']
del las_data['STOP']
del las_data['rp']
del las_data['kgl']
del las_data['kpr']
del las_data['kvo']
del las_data['kng']
del las_data['lit']
del las_data['satur']
del las_data['kp']
del las_data['DEPT']
las_data = las_data.rename(columns={'well_name': 'WELL_NAME'})
las_data = las_data.rename(columns={'UWI': 'WELL_NAME_UWI'})
wells_list = las_data['WELL_NAME'].value_counts().index.tolist()
wells_list_uwi = las_data['WELL_NAME_UWI'].value_counts().index.tolist()
data_well_for_analize = pd.DataFrame({'WELL_NAME':wells_list, 'WELL_NAME_UWI':wells_list_uwi})
data_well_for_analize.head(n=2)
data_well_for_analize.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223 entries, 0 to 222
Data columns (total 2 columns):
WELL_NAME        223 non-null object
WELL_NAME_UWI    223 non-null object
dtypes: object(2)
memory usage: 3.6+ KB

In [41]:
water_content_data = pd.read_csv(main.data_dir + "\\water_content.csv", delimiter=';')
water_content_data = water_content_data.rename(columns={'Скважина': main.keys_dict[main.kid_well]})
water_content_data = water_content_data.rename(columns={' Начальная обводненность ': 'WC'})
water_content_data = water_content_data.rename(columns={'Дата запуска': 'date_start'})
del water_content_data['date_start']
water_content_data = water_content_data.rename(columns={'well_name': 'WELL_NAME'})
water_content_data.head(n=2)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>WELL_NAME</th>
      <th>WC</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>380</td>
      <td>0.49</td>
    </tr>
    <tr>
      <th>1</th>
      <td>379</td>
      <td>0.30</td>
    </tr>
  </tbody>
</table>
</div>

In [45]:
coord_data = pd.read_csv(main.data_dir + "\\coord.csv", delimiter=';')
coord_data = coord_data.rename(columns={'well': 'WELL_NAME_UWI'})
coord_data.head()
del coord_data['field']
del coord_data['plastorig']
del coord_data['z']
del coord_data['num']


coord_data.replace(' ', '', regex=True, inplace=True)
coord_data['x'] = coord_data['x'].astype('float64')
coord_data['y'] = coord_data['y'].astype('float64')
coord_data.head(n=2)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>WELL_NAME_UWI</th>
      <th>x</th>
      <th>y</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>314_100</td>
      <td>355010.66</td>
      <td>6470170.74</td>
    </tr>
    <tr>
      <th>1</th>
      <td>314_101</td>
      <td>354605.75</td>
      <td>6471639.69</td>
    </tr>
  </tbody>
</table>
</div>

In [46]:
wc_data_coord = pd.merge(water_content_data, data_well_for_analize, on='WELL_NAME')
wc_data_coord = pd.merge(wc_data_coord, coord_data, on='WELL_NAME_UWI')
wc_data_coord.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>WELL_NAME</th>
      <th>WC</th>
      <th>WELL_NAME_UWI</th>
      <th>x</th>
      <th>y</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>380</td>
      <td>0.49</td>
      <td>314_178</td>
      <td>353151.42</td>
      <td>6464147.86</td>
    </tr>
    <tr>
      <th>1</th>
      <td>379</td>
      <td>0.30</td>
      <td>314_167</td>
      <td>352935.56</td>
      <td>6467468.11</td>
    </tr>
    <tr>
      <th>2</th>
      <td>370</td>
      <td>0.13</td>
      <td>314_203</td>
      <td>351655.82</td>
      <td>6466250.27</td>
    </tr>
    <tr>
      <th>3</th>
      <td>417</td>
      <td>0.08</td>
      <td>314_205</td>
      <td>352529.39</td>
      <td>6465714.00</td>
    </tr>
    <tr>
      <th>4</th>
      <td>389</td>
      <td>0.22</td>
      <td>314_177</td>
      <td>352953.43</td>
      <td>6466972.51</td>
    </tr>
  </tbody>
</table>
</div>